/* All DEFAULTS */
* 
{ 
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ELEMENTS */
html
{
    scroll-behavior: smooth;
}
body 
{   
    /* min-height: 875px; */
    background-color: black;
    background: url('imgs/pose-2-color-v5.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

li
{
    list-style: none;    
}

a 
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover 
{
    color: #ab8fbc;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 1);
}

.arrowSet
{
    display: show;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    font-size: 1rem;
    margin-top: 5px;
    color: rgba(255 255, 255, .3);
}
.arrowSet:hover
{
    -webkit-box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 1);
}

.arrowHide
{
    display: none;
}

.footer
{
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 12px;
    margin-left: 0px;
    background: #484071;
    height: 45PX;
    padding-right: 50px;
}

/* CLASSES */
.footer p
{   
    color: rgba(255 255, 255, .3);
    margin-left: 25px;
    font-style: italic;
}

.navbar 
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;    
    padding: 5px 5px; 
    z-index: 1;
}

.navbar .logo a 
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.navbar .links 
{
    margin-top:20px;
    display: flex;
    margin-right: 50px;
    gap: 4rem;       
}

.dots 
{
    margin-top: 12px;

}

.navbar .toggle_btn 
{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    top: 5px;
    display: none;

}

.action_btn 
{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius:20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover
{
    scale: 1.05;
    color: purple;
}

.action_btn:active 
{
    scale: 0.95;
}

#brand-logo 
{
    width: 150px;
    height: 70px;
    border-radius:30%;
}

/* CLASSES - DROPDOWN MENU */
.dropdown_menu 
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;  
    height: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open
{
    height: 240px;
}

.dropdown_menu li 
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-header
{   
    margin-top: 300px;
    margin-left: 200px;    
    color: white;
}

.name
{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.title
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 50px;
    
}

.about-me
{
    text-align: center;
    line-height: 2rem;
    margin-left: 100px;
    max-height: 1800px;
    margin-bottom: 50px;
}
.about-me-title 
{
    font-size: 2.5rem;
    font-weight: bold;
}
.about-me-paragraph 
{
    font-size: 1rem;
    font-weight: bold;
}
.about-phoenix
{
    text-align: center;
    line-height: 2rem;
    margin-top: 130px;
    margin-left: 325px;
    max-height: 800px;
    max-width: 500px;    
}
.about-phoenix-title
{
    font-size: 2.5rem;
    font-weight: bold;
}
.about-phoenix-paragraph 
{
    font-size: 1rem;
    font-weight: bold;
}

.video
{
    margin-left: 175px;
    max-height: 500px;
    max-width: 750px;
    margin-bottom: 70px; 
}

.left-video
{
    margin-left: 00px;
    max-height: 500px;
    max-width: 750px;
    margin-bottom: 70px; 
}

.pic-div
{
    margin-left: 125px;
}

.pho-picture
{
    
    max-height: 800px;  
    max-width: 550px;
}
.pho-picture-sm
{
    margin-top: 40px;
    max-height: 600px;  
    max-width: 375px;
}

.main
{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 10em;
    max-width: 100%;
    padding-top: 75px;
    margin-top: 600px;
    background-color: #2a1c3c;
    color: white;
    
}

.videos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
  .video-wrapper {
    margin: 0 20px;
    text-align: center;
  }
  
  .video-wrapper iframe {
    width: 100%;
    height: 400px;
  }
  .video-wrapper p {
    color: white;
    font-size: 2.0rem;
  }
  .stopMotionHeader {
    display: flex;
    justify-content: center; 
    color: white;
    font-size: 3.0rem;
    margin-top: 150px;
  }







.main-videos
{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 75px;
    margin-top: 100px;
    background-color: #2a1c3c;
    color: white;
    
}
.main-videos p
{
    text-align: center;
}

.main-bottom
{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 10em;
    padding-top: 75px;
    padding-bottom: 50px;    
    background-color: #0b5351;
    color: white;
    
}

.navbar.scrolled {
    background: #484071;
    transition: background 500ms;
}
.footer.scrolled {
    background: #484071;
    transition: background 500ms;
}

/* IDs */

/* RESPONSIVE DESIGN */
@media (max-width: 1480px) 
{
    .navbar .links,
    .navbar .action_btn 
    {
        display: none;
    }
    .navbar .toggle_btn 
    {
        display: block;
    }
    .dropdown_menu 
    {
        display: block;
    }
}
@media (max-width: 725px) 
{
    body 
        {
            height: 100vh;
        }

    .name-header
        {   
            margin-top: 300px;
            margin-left: 20px;    
            color: white;
        }

    .name
        {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0;
        }

    .title
        {
            font-size: .75rem;
            font-weight: bold;
            margin-left: 10px;
            
        }

    .dropdown_menu 
        {
            margin-top: 20px;
            left: 2rem;
            width: unset;
        }
    .footer p
        {
            bottom: 0;
            font-size: 11px;    
        }
        .videos-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
          }
          
          .video-wrapper {
            /* flex-direction: row; */
            margin: 0 20px;
            text-align: center;
          }
          
          .video-wrapper iframe {
            width: 100%;
            height: 400px;
          }
          .video-wrapper p {
            margin-top: 100px;
            color: white;
            font-size: 2.0rem;
          }
          .stopMotionHeader {
            display: flex;
            justify-content: center; 
            color: white;
            font-size: 3.0rem;
            margin-top: 150px;
          }
}