/* body {
    background: #b57edc;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
    width: 100%;
    display: flex;    
    flex-direction: auto;
    align-items: center;
    justify-content:center;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: white
    ;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
} */

* 
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

body 
{
    height: calc(100vh - 80px);
    padding-top: 80px;
    margin-top: 80px;
    background-color: black;
    background: url('imgs/bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

li
{
    list-style: none;
}

p
{
    padding-top: 80px;
}

a 
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover 
{
    color: purple;
    text-decoration: none;
}

/* HEADER */

header 
{
    position: relative;
    padding: 0 2rem;

}

.navbar 
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    /* max-width: 1200px; */
    margin-top: 0;
    margin: 0 auto
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.navbar .logo a 
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.navbar .links 
{
    display: flex;
    gap: 4rem;       
}

.navbar .toggle_btn 
{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    top: 5px;
    display: none;

}
.navbar.scrolled {
    /* background: rgb(222,192,222); */
    background: #EE82EE;
    transition: background 500ms;
}

.action_btn 
{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius:20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover
{
    scale: 1.05;
    color: purple;
}

.action_btn:active 
{
    scale: 0.95;
}

#brand-logo 
{
    width: 150px;
    height: 70px;
    border-radius:30%;
}

/* DROPDOWN MENU */
.dropdown_menu 
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;  
    height: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open
{
    height: 240px;
}

.dropdown_menu li 
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn 
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pictures 
{
    width: 100%;
    height: 720px;

    background-color: black;

}

section#first 
{
    height: calc(100vh - 60px); 
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1 
{
    font-size: 3rem;
    margin-bottom: 1rem;
}

footer
{
    color: rgb(211, 98, 181);
    font-weight: bold;
    font-size: -1.5rem;
    text-align: center;
    
}

/* RESPONSIVE DESIGN */
@media (max-width: 1150px) 
{
    .navbar .links,
    .navbar .action_btn 
    {
        display: none;
    }
    .navbar .toggle_btn 
    {
        display: block;
    }
    .dropdown_menu 
    {
        display: block;
    }
}
@media (max-width: 525px) 
{
    .dropdown_menu 
    {
        margin-top: 20px;
        left: 2rem;
        width: unset;
    }
}





