/* All DEFAULTS */
* 
{ 
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ELEMENTS */
body 
{   
    /* min-height: 875px; */
    background-color: black;
    background: url('imgs/pose-2-color-v5.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

li
{
    list-style: none;    
}

a 
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover 
{
    color: #ab8fbc;
    text-decoration: none;
}

.arrowShow
{
    display: flex;  
    justify-content: flex-end;
    font-size: 1.5rem;
    padding-top: 750px;

}
.arrowUp
{
    display: none;
}

.footer
{

    margin-bottom: 0;
    padding-top: 12px;
    margin-left: 25px;
}

/* CLASSES */
.footer p
{
    color: purple;
}

.navbar 
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;    
    padding: 5px 5px; 
    z-index: 1;
}

.navbar .logo a 
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.navbar .links 
{
    margin-top:20px;
    display: flex;
    margin-right: 125px;
    gap: 4rem;       
}

.dots 
{
    margin-top: 12px;

}

.navbar .toggle_btn 
{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    top: 5px;
    display: none;

}

.action_btn 
{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius:20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover
{
    scale: 1.05;
    color: purple;
}

.action_btn:active 
{
    scale: 0.95;
}

#brand-logo 
{
    width: 150px;
    height: 70px;
    border-radius:30%;
}

/* CLASSES - DROPDOWN MENU */
.dropdown_menu 
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;  
    height: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open
{
    height: 240px;
}

.dropdown_menu li 
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-header
{
    margin-top: 200px;
    margin-left: 200px;    
    color: white;
}

.name-title p
{
    margin-top: 25px;
}

.name
{
    font-size: 2.3rem;
    font-weight: bold;
}

.about-me
{
    text-align: center;
    margin-left: 150px;
    height: 600px;
}
.about-me-title
{
    font-size: 2.5rem;
    font-weight: bold;

}
.about-phoenix
{
    text-align: center;
    margin-left: 130px;
    height: 600px;
}
.about-phoenix-title
{
    font-size: 2.5rem;
    font-weight: bold;

}

.title
{
    font-size: 2rem;
    font-weight: bold;
    
}

.video
{
    height: 450px;
    width: 450px;
}

.pic-div
{
    margin-left: 150px;
}

.pho-picture
{
    
    height: 650px;  
    width: 450px;
}

.main
{
    height: 1550px;
    padding-top: 50px;
    margin-top: 600px;
    background-color: #2a1c3c;
    color: white;
    
}
.main-bottom
{
    padding-top: 50px;
    margin-top: 50px;
    background-color: #0b5351;
    color: white;
    
}

.navbar.scrolled {
    background: #484071;
    transition: background 500ms;
}
.footer.scrolled {
    background: #484071;
    transition: background 500ms;
}

/* IDs */

/* RESPONSIVE DESIGN */
@media (max-width: 1480px) 
{
    .navbar .links,
    .navbar .action_btn 
    {
        display: none;
    }
    .navbar .toggle_btn 
    {
        display: block;
    }
    .dropdown_menu 
    {
        display: block;
    }
}
@media (max-width: 525px) 
{
    .name
    {
        font-size: 1.5rem;
        font-weight: normal;
        align-items: left;
    }

    .title
    {
        font-size: 1rem;
        font-weight: normal;
    }
    
    .name-header
    {
        margin-top: 200px;
        margin-left: 25px;
    }
    /* .first
    {
        flex-direction: column;
    } */
    .dropdown_menu 
    {
        margin-top: 20px;
        left: 2rem;
        width: unset;
    }
    .footer p
    {

        font-size: 11px;
        color: blue;
    }
}
